{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
<h1>Nos videos</h1>
{#On affiche tous les videos avec une boucle #}
	<div class="row">
	{% for video in videos %}
		<div class="col-12 col-md-3 col-xl-2">
		<div class="card">
		{% if video.imageName is defined and video.imageName is not null %}
  	<img src="{{ asset('images/videos/' ~ video.imageName) }}" class="card-img-top" alt="">
		{% else %}
		<img src="{{ asset('images/videos/book-default.png') }}" class="card-img-top" alt="image par default">
		{% endif %}

  <div class="card-body">
		<a href="{{ path('app_video_show', { slug: video.slug}) }}" class="btn btn-primary">{{ video.title }}</a>
        {% if app.user is not null%}
        {% if video not in app.user.videos %}
        <a href="{{ path('add_favori', { id: video.id}) }}" class="mt-3 btn btn-dark">Ajouter aux favoris</a>
        {% endif %}
        {% endif %}

				{# <div class="card-body">
  {% if app.user.category|length > 0 %}
<ul>
  {% for category in app.user.categories %}
  <li>{{ category.title }}</li>
{% endfor %}
</ul>
  {% else %}
  <p>Aucun vidéo de cette catégorie</p>
  {% endif %}
</div> #}
		
  </div>
</div>
		
		</div>
	{% endfor %}
	</div>
{% endblock %}
